<div class="container mt-5">
    <% site.posts.forEach(function (post) { %>
        <div class="row mb-5">
            <div class="col-auto">
                <a href="<%= post.path %>" class="blog-title-link d-inline-block mr-3">
                    <p class="h2"><%= post.title %></p>
                </a>
                <p class="date d-inline-block">
                    <%= post.date.format('MM-DD-YYYY') %>
                </p>
                <%- post.excerpt %>
            </div>
        </div>
    <% }) %>
</div>