<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Google fonts -->
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather|Montserrat" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

        <!-- Local resources -->
        <link href="style/all.css" type="text/css" rel="stylesheet">
    </head>

    <body>

    <%- partial("partials/navbar.ejs") %>

        <div class="container pt-5">
                <div class="row">
                    <a class="col-auto" href="http://uxsoc.typeform.com/to/cXXhW0" rel="noopener noreferrer" target="_blank">
                        <i class="fas fa-envelope"></i> Join Mailing List
                    </a>
                </div>

                <div class="row">
                    <a class="col-auto" href="http://bit.ly/UXSocSlack" rel="noopener noreferrer" target="_blank">
                        <i class="fab fa-slack"></i> Join Slack
                    </a>
                </div>

                <div class="row">
                    <h1 class="col-auto">
                        Links
                    </h1>
                </div>

                <div class="row">
                    <a class="col" href="https://www.facebook.com/UXSocChapmanU/" rel="noopener noreferrer" target="_blank">
                        <p><i class="fab fa-facebook"></i> Facebook</p>
                    </a>
                    <a class="col" href="https://twitter.com/uxsocchapmanu" rel="noopener noreferrer" target="_blank">
                        <p><i class="fab fa-twitter"></i> Twitter</p>
                    </a>
                    <a class="col" href="https://www.instagram.com/UXSocChapmanU/" rel="noopener noreferrer" target="_blank">
                        <p><i class="fab fa-instagram"></i> Instagram</p>
                    </a>
                    <a class="col" href="https://github.com/UXSoc" rel="noopener noreferrer" target="_blank">
                        <p><i class="fab fa-github"></i> GitHub</p>
                    </a>
                    <a class="col" href="mailto:uxsocchapmanu@gmail.com" rel="noopener noreferrer" target="_blank">
                        <i class="fas fa-envelope"></i> Email Us
                    </a>
                </div>

            </div>

        <%- partial("partials/footer.ejs") %>

    <div id="scripts">
            <!-- external CDN scripts  -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <!-- Local JS -->
            <script src="javascript/contact.js"></script>
        </div>
    </body>

</html>