$primary-color: #479cff;
$secondary-color: #f2f8ff;
$grey: #626262;

.background {
  background-color: $secondary-color;
}

.navbar-link {
  color: $grey;

  &:visited {
    color: $grey;
  }

  &:active {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
  }
}

.blog-title-link {
  color: $primary-color;

  &:visited {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
  }
}

.date {
  color: $grey;
  margin-bottom: 0;
}