<section id="navbar">
    <div class="container pt-2 pb-2 pl-1 pr-1 pl-md-0 pr-md-0 ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/">
                <img class="navbar-logo .d-inline-block" src="/img/UXSocietyLogo_full.svg" title="Home" alt="User Experience Society Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-md-3">
                        <a class="nav-link navbar-text" href="/about">Who are we?</a>
                    </li>
                    <li class="nav-item ml-md-3">
                        <a class="nav-link navbar-text" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</section>