<!DOCTYPE html>
<html>
    <%- partial('partials/head') %>
    <body>
        <%- partial('partials/navbar') %>
        <%- partial('partials/blogs')%>
        <%- partial('partials/scripts') %>
    </body>
</html>